*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 100%;
}

body {
   min-height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Spartan', sans-serif;
   font-size: $font-size;
   color: $darkGrayishMagenta;
   font-weight: 400;
   overflow-x: hidden;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      background-image: url('../../images/bg-pattern-top-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 14.5625rem; // 233px
      overflow: hidden;

      @include break-up($laptop-md){
         width: 40%;
         min-height: 17.5625rem;
         background-image: url('../../images/bg-pattern-top-desktop.svg');
      }
   }

   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-image: url('../../images/bg-pattern-bottom-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 31.4375rem; // 503px
      overflow: hidden;
      z-index: -1;

      @include break-up($laptop-md){
         right: 0;
         width: 75%;
         height: 85%;
         background-image: url('../../images/bg-pattern-bottom-desktop.svg');
      }
   }
}

h1 {
   font-weight: 700;
   color: $veryDarkMagenta;
   text-align: center;
}

h2 {
   font-size: $font-size;
   font-weight: 700;
   color: $white;
}

p {
   margin-top: 1rem;
   font-size: $font-size-sm;
   text-align: center;
   line-height: 1.5;
}