.social {
   margin: 1.5625rem; // 25px
}

.social-main {
   display: inline-block;
   margin-top: 2.375rem; // 38px
}

.social-ratings {
   margin-top: 2rem;
   
   &-item {
      position: relative;
      margin-top: 1rem;
      padding: 0.625rem; // 10px
      text-align: center;
      border-radius: 10px;
      background-color: $lightGrayishMagenta;
      color: $veryDarkMagenta;
      font-weight: 700;

      &-row {
         margin: 10px 0 10px 0;
      }
   }

}

.social-proof {
   margin-top: 3.125rem; // 50px

   &-card {
      margin-top: 1rem;
      padding: 2.5rem 2rem 2.5rem 2rem;
      border-radius: 10px;
      background-color: $veryDarkMagenta;

      &-buyer {
         position: relative;

         img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 40px;
         }

         &-header {
            position: absolute;
            display: inline-block;
            margin-left: 2rem;

            h2 {
               margin-top: 0;
               margin-bottom: 0.25rem; // 4px
            }

            > div {
               margin-top: 0.25rem;
               color: $softPink;
               opacity: 0.7;
            }
         }
      }

      p {
         margin-bottom: unset;
         text-align: unset;
         color: $lightGrayishMagenta;
      }
   }
}